.Chart {
    position: relative;
    width: 800px;
    height: 500px;
    padding: 5px 5px 60px;

    .canvas-wrapper {
        height: 700px;
        width: 700px;
        background: white;
    }

    .info-rows {
        .info-row {
            color: white;
            font-size: 14px;
            margin: 10px 0 0 0;
        }
    }
}
